.clock-container {
    display: flex;
    padding: 0.75rem 0;
    border-radius: 0.5rem;
    .clock-col {
        min-width: 80px;
        text-align: center;
        border-right: 1px solid #e9e6e9;
        &:last-child {
            border-right: none;
        }
        .clock-timer {
            font-size: 16px;
            font-weight: bold;
        }
        .clock-label {
            font-size: 12px;
        }
    }
}
@media (max-width: 1024px) {
    .clock-container {
        max-width: 240px;
        margin: 0 auto;
        .clock-col {
            max-width: 60px;
            min-width: 60px;
            .clock-label {
                margin: 0 auto;
                font-weight: 500;
                &.clock-days {
                    width: 0.9ch;
                    overflow: hidden;
                    white-space: nowrap;
                }
                &.clock-hours {
                    width: 1.3ch;
                    overflow: hidden;
                    white-space: nowrap;
                }
                &.clock-minutes {
                    width: 2.9ch;
                    overflow: hidden;
                    white-space: nowrap;
                }
                &.clock-seconds {
                    width: 3.1ch;
                    overflow: hidden;
                    white-space: nowrap;
                }
            }
        }
    }
}